@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: brown url('imagens/fundo-madeira.jpg') center center/cover
  no-repeat fixed;
}
#phone {
  background: url('imagens/frame-iphone.png') center center/auto no-repeat fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 787px;
}
section > iframe {
  position: absolute;
  top: 18.7%;
  left: 17.8%;
  width: 66.1%;
  height: 60.6%;
  box-shadow: none;
}
a img {
  position: absolute;
  top: 85%;
  box-shadow: 0 5px 10px #00000050;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#home {
  position: absolute;
  top: 85%;
  left: 22%;
}
#git {
  position: absolute;
  top: 85%;
  left: 33%;
}
#face {
  position: absolute;
  top: 85%;
  left: 44%;
}
#yt {
  position: absolute;
  top: 85%;
  left: 55%;
}
#insta {
  position: absolute;
  top: 85%;
  left: 66%;
}
#x {
  position: absolute;
  top: 85%;
  left: 77%;
}
img:hover {
  transition-duration: .2s;
  background-color: darkgray;
  border: 4px solid lightgray;
  transform: translate(0px, 5px);
}
